.jumbotron {
    text-align: center;
    background: none;
    margin-top: 60px;
    margin-bottom: 60px;
}

.sectionDark, .sectionLight, .formGroupWrapper {
    padding: 2rem;
}

.sectionLight {
    background-color: #eceeef;
}

.sectionDark {
    background-color: #cccccc;
}

.sectionTwoBtnClass {
    margin-top: 12px;
    margin-bottom: 12px;
}

.sectionTwoBtn {
    background-color: red;
    color: white;
    display: block;
    margin: auto;
}

.sectionTwoBtn:hover {
    background-color: orangered;
    color: white;
}

button.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;
}

img.imgCenter {
    width: 100%;
    display: block;
    margin: auto;
}

img.footerImg {
    padding: 20px;
}

div.iconContainer {
    margin: auto;
}

i.icons {
    color: #eceeef;
    font-size: 35px;
    margin: 10px;
}